.navbar {
  background-color: aliceblue;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px lightblue;
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.navbar h1 {
  font-family: "Dancing Script", cursive;
  margin-left: 2rem;
}

.navbar ul {
  display: flex;
  margin-right: 2rem;
  list-style: none;
}

.navbar li {
  margin-right: 0.5rem;
}

.navbar a {
  color: black;
  font-weight: 600;
}
