.navbar {
  background-color: aliceblue;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px rgba(117, 112, 112,0.25 );
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.navbar h1 {
  font-family: "Dancing Script", cursive;
  margin-left: 2rem;  
  margin-top: -0.2rem;
  margin-bottom: -0.5rem;
}

.navbar ul {
  display: flex;
  margin-right: 2rem;
  list-style: none;
}

.navbar li {
  margin-right: 0.5rem;
}

.navbar a {
  color: black;
  font-weight: 600;
}
