body {
  margin: 0;
  font-family: "Times New Roman", Georgia, Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

h1{
    font-size: 2.5rem;
    font-weight: 100;
}

p{
  font-size: 1rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
